html, body {
  text-align: center;
  font-family: sans-serif;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 100px;
  margin-left: 100px;
}

h1 {
  font-size: 48px;
  font-family:Arial, Helvetica, sans-serif;
}

#header-e1 {float: left;}
#header-e2 {overflow: hidden;}
#header-e3 {float: right;}
